<li>
  <div class="panel radius">
    <div class="row">
      <div class="small-12 columns text-center">
        <%= link_to manufacturer.support_url, target: "_blank" do %>
          <%= image_tag attachment_url(manufacturer, :logo, filename: "#{manufacturer.name.parameterize}_logo_thumb"), alt: manufacturer.name %>
        <% end %>
      </div>
    </div>
  </div>
</li>
