<div class="section-container">
  <div class="section-content">
    <img src="/assets/hero_Support.jpg" class="hero" alt="Street sign for crossroads of Problems and Solutions.">
  </div>
  <div class="section-content">
    <h2>Support</h2>

    <h3>Need Help?</h3>
    <p>Twincrest Technologies prides itself on providing first class support for the products we sell. This page provides links to many helpful support documents from our suppliers. In addition, we offer on-site installation assistance and factory certification trainings to ensure your systems are properly configured for optimal operation. To schedule installation assistance or a factory certification training course, please email support@twincresttech.com or call 817-539-2200.</p>

    <h3>Manufacturer Support</h3>
    <p>Get technical support information direct from the source. Select a manufacturer above to link directly to their support site.</p>
  </div>
</div>
