.button {
  background-color: $button-background-color;
  color: $button-text-color;
  display: inline-block;
  padding: 0.6em 1em;
  text-decoration: none;
  transition: background-color 0.25s;

  &:hover {
    background-color: lighten($button-background-color, 10%);
  }

  &.rounded {
    border-radius: $border-radius;
  }

  &.wide {
    display: block;
    text-align: center;
  }
}
