.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  background-color: $background-color;

  display: inline-flex;
  flex-flow: column;

  margin-bottom: 1em;

  figure {
    border-bottom: 1px solid #eee;

    margin: 0;

    text-align: center;
  }

  img {
    height: auto;
    width: 100%;
  }
}

.card-content {
  flex-grow: 1;
  padding: 1em;
}

.card-footer {
  padding: 1em;

  p:last-child {
    margin-bottom: 0;
  }
}

// Medium and up
@media screen and (min-width: 40em) {
  .card {
    flex: 0 1 calc(50% - 0.5em);
  }
}

// Large and up
@media screen and (min-width: 64em) {
  .card {
    flex: 0 1 calc(33% - 0.5em);
  }
}

// Extra-large and up
@media screen and (min-width: 75em) {
  .card {
    flex: 0 1 calc(25% - 1em);
  }
}
