.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  display: inline-flex;
  flex-flow: column;

  background-color: #fff;

  margin-bottom: 1em;

  figure {
    // background-color: #333;
    margin: 0;
    text-align: center;

    border-bottom: 1px solid #eee;
  }

  img {
    width: 100%;
    height: auto;
  }
}

.card-content {
  flex-grow: 1;
  padding: 1em;
}

.card-footer {
  padding: 1em;

  & > p:nth-last-child(1) {
    margin-bottom: 0;
  }
}

// Medium and up
@media screen and (min-width: 40em) {
  .card {
    flex: 0 1 calc(50% - 0.5em);
  }
}

// Large and up
@media screen and (min-width: 64em) {
  .card {
    flex: 0 1 calc(33% - 0.5em);
  }
}

// Extra-large and up
@media screen and (min-width: 75em) {
  .card {
    flex: 0 1 calc(25% - 1em);
  }
}
