#hero {
  background-image: url("/assets/hero_Manufacturers.jpg");
  background-size: cover;
  background-position: center;

  height: 50vh;
}

// Medium and up
@media screen and (min-width: 40em) {
  #hero {
    height: 67vh;
  }
}

// Medium only
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

// Large and up
@media screen and (min-width: 64em) {}

// Large only
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

// Extra-large and up
@media screen and (min-width: 75em) {}
