.loading {
  height: 100vh;
  background-image: url("/assets/logo_Loading.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 33% auto;
  background-color: black;
}
