#site-nav {
  ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    align-items: baseline;
    margin: 0;
    padding: 0;
  }

  a {
    color: inherit;
    display: flex;
    padding: 0.85em;
    text-decoration: none;

    &:hover {
      color: $site-nav-link-hover-text-color;
    }
  }
}

// Small only
@media screen and (max-width: 39.9375em) {
  #site-nav {
    display: none;
  }
}
