$heading-font-family: $body-font-family;
$heading-font-style: normal;
$heading-font-weight: $global-weight-normal;
$heading-color: inherit;
$heading-line-height: 1.4;
$heading-margin-bottom: 0.5em;
$heading-text-rendering: optimizeLegibility;

$small-font-size: 80%;

$heading-small-font-color: #808080;

$link-text-color: #069;

h1,
h2,
h3 {
  font-family: $heading-font-family;
  font-style: $heading-font-style;
  font-weight: $heading-font-weight;
  color: $heading-color;
  text-rendering: $heading-text-rendering;
  margin-bottom: $heading-margin-bottom;

  small {
    line-height: 0;
    color: $heading-small-font-color;
  }
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;

  text-transform: uppercase;

  &::after {
    content: " ||";
    color: map-get($color-palette, primary);
  }
}

h3 {
  font-size: 22px;
}

// Medium and up
@media screen and (min-width: 40em) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 28px;
  }
}

a {
  color: $link-text-color;
  text-decoration: none;
}

strong {
  font-weight: 500;
}
