<h2>Contact Us</h2>

<div class="contact-cards">
  <div class="contact-card logo"></div>
  <div *ngFor="let contact of contacts | async" class="contact-card">
    <ul class="fa-ul" itemprop="location" itemscope itemtype="http://schema.org/Place">
      <li>
        <strong itemprop="name">{{ contact.name }}</strong>
      </li>

      <li itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        <span class="fa-li"><i class="fal fa-map-marker-alt"></i></span>
        <address>
          <span itemprop="streetAddress" [innerHtml]="contact.address.streetAddress | html"></span>
          <span itemprop="addressLocality">{{ contact.address.addressLocality }}</span>&nbsp;
          <span itemprop="addressRegion">{{ contact.address.addressRegion }}</span>&nbsp;
          <span itemprop="postalCode">{{ contact.address.postalCode }}</span>
        </address>
      </li>

      <li *ngIf="contact.telephone">
        <span class="fa-li"><i class="fal fa-phone-alt"></i></span>
        <a itemprop="telephone" href="tel:{{ contact.telephone }}">{{ contact.telephone }}</a>
      </li>

      <li *ngIf="contact.email">
        <span class="fa-li"><i class="fal fa-envelope"></i></span>
        <a itemprop="email" href="mailto:{{ contact.email }}">{{ contact.email }}</a>
      </li>
    </ul>
  </div>
</div>
