@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,500");

body {
  margin: 0;

  font-family: $body-font-family;
  font-weight: $global-weight-normal;
  font-size: 16px;
  line-height: 1.5;
  color: $body-text-color;
}

#site-header {
  backdrop-filter: blur(10px);
  background-image: url("/assets/small_header_logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;

  background-color: $site-header-background-color;
  color: $site-header-text-color;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;

  h1 {
    font-size: 0px;
    visibility: hidden;
  }
}

#site-content {
  height: 100vh;
}

section {
  padding: 1em;

  &:nth-child(odd) {
    background-color: $background-color-alternate;
  }
}

#site-footer {
  border-top: 1px solid #ccc;
  font-size: 0.8rem;
  padding: 1em;
}

// Medium and up
@media screen and (min-width: 40em) {
  #site-header {
    background-image: url("/assets/medium_header_logo.svg");
    background-position: left;
  }
}



// FOR COPY & PASTE IN OTHER FILES:

// Small only
@media screen and (max-width: 39.9375em) {}

// Medium and up
@media screen and (min-width: 40em) {}

// Medium only
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

// Large and up
@media screen and (min-width: 64em) {}

// Large only
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

// Extra-large and up
@media screen and (min-width: 75em) {}
