// COLORS
$color-palette: (
  primary: #fc0,
  secondary: #808080,
  success: #3adb76,
  warning: #ffae00,
  alert: #cc4b37,
);

$background-color: #fff;
$background-color-alternate: #eee;

$body-text-color: #666;

$button-background-color: map-get($color-palette, primary);
$button-text-color: #000;

$site-nav-link-hover-background-color: none;
$site-nav-link-hover-text-color: #fff;

$site-header-background-color: rgba(0, 0, 0, 0.8);
$site-header-text-color: #999;

$border-radius: 0.2rem;

$global-weight-normal: 300;
$body-font-family: Ubuntu, sans-serif;
