@import "foundation_and_overrides";
@import "globals/all";

$text-column-counts: 2 3 4 5 6;
$text-column-gap: rem-calc(50);
$text-column-rule-color: $smoke;
$text-column-rule-style: none;
$text-column-rule-width: rem-calc(1);

@each $text-column-count in $text-column-counts {

  .text-columns-#{$text-column-count} {
    -moz-column-count: $text-column-count;
    -webkit-column-count: $text-column-count;
    column-count: $text-column-count;
    -moz-column-gap: $text-column-gap;
    -webkit-column-gap: $text-column-gap;
    column-gap: $text-column-gap;
    -moz-column-rule: $text-column-rule-width $text-column-rule-style $text-column-rule-color;
    -webkit-column-rule: $text-column-rule-width $text-column-rule-style $text-column-rule-color;
    column-rule: $text-column-rule-width $text-column-rule-style $text-column-rule-color;
  }

  @for $i from 1 through length($align-class-names) {

    @media #{(nth($align-class-breakpoints, $i))} {

      .#{(nth($align-class-names, $i))}-text-columns-#{$text-column-count} {
        -moz-column-count: $text-column-count;
        -webkit-column-count: $text-column-count;
        column-count: $text-column-count;
        -moz-column-gap: $text-column-gap;
        -webkit-column-gap: $text-column-gap;
        column-gap: $text-column-gap;
        -moz-column-rule: $text-column-rule-width $text-column-rule-style $text-column-rule-color;
        -webkit-column-rule: $text-column-rule-width $text-column-rule-style $text-column-rule-color;
        column-rule: $text-column-rule-width $text-column-rule-style $text-column-rule-color;
      }
    }
  }
}

.text-column-span-all {
  -moz-column-span: all;
  -webkit-column-span: all;
  column-span: all;
}
