<footer class="site-footer">
  <div class="row">
    <div class="medium-6 columns">
      <p>&copy; 2008&ndash;<%= Time.now.year %> Twincrest Technologies, Inc. All rights reserved.</p>
    </div>
    <div class="medium-6 columns text-right">
    </div>
  </div>
</footer>
