<% title "Manufacturers" %>

<table>
  <thead>
		<tr>
			<th></th>
	    <th></th>
	    <th></th>
	  </tr>
  </thead>
	<tbody>
	<%= render @manufacturers %>
	</tbody>
</table>

<p><%= link_to 'New Manufacturer', new_manufacturer_path if current_user %></p>
